.container {
    display: grid;
    grid-template-rows: 15% 1fr 20%;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

header {
    background-color: rgb(224, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.text {
    background-color: #FFFDDE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 1fr 1fr;
}

aside {
    background-color: #E7FBBE;
    text-align: center;
    padding-top: 30px;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(224, 223, 223);
    align-content: center;
}

.footer {
    background-color: rgb(253, 252, 252);
    margin-left: 20px;
    margin-right: 20px;
}

section {
    background-color: khaki;
}

.mainPart {
    grid-area: 1/1/2/3;
}

.oneSection {
    grid-area: 2/1/3/2;
    margin: 10px;
    padding: 30px;
    text-align: center;
    align-self: center;
}

.twoSection {
    grid-area: 2/2/3/3;
    margin: 10px;
    padding: 30px;
    text-align: center;
    align-self: center;
}

.threeSection {
    grid-area: 3/1/4/3;
    margin: 10px;
    padding: 30px;
    text-align: center;
    align-self: center;
}

p {
    text-align: center;
    padding: 20px;
}

@media all and (max-width:768px) {
    .text {
        grid-template-rows: 50% 1fr 1fr 1fr;
    }

    .oneSection {
        grid-area: 2/1/3/3;
    }

    .twoSection {
        grid-area: 3/1/4/3;
    }

    .threeSection {
        grid-area: 4/1/5/3;
    }

    body {
        font-size: 20px;
    }
}

@media all and (max-width:480px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr 1fr;
    }

    header {
        display: inline-block
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    aside {
        grid-area: 2/1;
    }

    .text {
        background-color: #FFFDDE;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 1fr 1fr 1fr;
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    body {
        font-size: 15px;
    }

    .footerTwo,
    .footerThree,
    .footerFour {
        display: none;
    }

    .footerOne {
        margin: 20px;
    }
}